examples/mqttc_pub_sub_imu/flows/flows.json
[
    {
        "id": "832e91f30fa14a49",
        "type": "tab",
        "label": "mqttc_pub_sub_imu",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb6e5189d27c63e4",
        "type": "mqtt in",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/out/imu",
        "topic": "CETAIoTRobot/out/imu",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "df527488550a103d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d39028dfc8d410a8"
            ]
        ]
    },
    {
        "id": "a2784c2632fad27e",
        "type": "comment",
        "z": "832e91f30fa14a49",
        "name": "mqttc_pub_sub.ino Flow",
        "info": "Interacts with MQTT endpoints created by this sketch.",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "2153db60fae28993",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "d39028dfc8d410a8",
        "type": "function",
        "z": "832e91f30fa14a49",
        "name": "function 1",
        "func": "let temperatureMsg = { payload: msg.payload.imuData.temperature };\nlet headingMsg = { payload: msg.payload.imuData.heading };\nreturn [temperatureMsg, headingMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "2153db60fae28993",
                "c2a7b4b3e6268fda"
            ],
            [
                "4ffe4598c696d6cd",
                "89e7e68b5ee9c845"
            ]
        ]
    },
    {
        "id": "4ffe4598c696d6cd",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "c151bf7d83de9f35",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "1ddf81c9a70a4714",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/imu",
        "topic": "CETAIoTRobot/in/imu",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "efb911ef71e3e400",
        "type": "ui-button",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Reset Heading",
        "label": "Reset Heading",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"imuControl\": 1}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "c151bf7d83de9f35",
                "1ddf81c9a70a4714"
            ]
        ]
    },
    {
        "id": "c2a7b4b3e6268fda",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature (degC)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "89e7e68b5ee9c845",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Heading",
        "label": "Heading",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "807e9405a3f4ac58",
        "type": "aedes broker",
        "z": "832e91f30fa14a49",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": null,
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d5c0f29858069cae",
        "type": "comment",
        "z": "832e91f30fa14a49",
        "name": "Local MQTT Broker",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "df527488550a103d",
        "type": "mqtt-broker",
        "name": "Local Aedes MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b4ecbd73cbb61631",
        "type": "ui-group",
        "name": "Control Group",
        "page": "9d840937293a30e2",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1e358b17550c57de",
        "type": "ui-group",
        "name": "Monitor Group",
        "page": "9d840937293a30e2",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9d840937293a30e2",
        "type": "ui-page",
        "name": "Dashboard (mqttc_pub_sub.ino Sketch)",
        "ui": "12b7276f41270e20",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ad23a447f3c91f6c",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "12b7276f41270e20",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "ad23a447f3c91f6c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]