examples/diffDrive_set_straight/flows/flows.json
[
    {
        "id": "832e91f30fa14a49",
        "type": "tab",
        "label": "diffDrive_set_straight",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81de6c891f6a04ad",
        "type": "aedes broker",
        "z": "832e91f30fa14a49",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dd9c3fb7a4cca5a9",
        "type": "comment",
        "z": "832e91f30fa14a49",
        "name": "Local MQTT Broker",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "ba7a2da374ab0899",
        "type": "ui-slider",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Left Motor Effort",
        "label": "Left Motor Effort",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-1",
        "max": "1",
        "step": ".01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "e77e37e8e35c9abc",
                "0d2c0954b0a1d0ad"
            ]
        ]
    },
    {
        "id": "e77e37e8e35c9abc",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "9b74c79db3517a6d",
        "type": "ui-slider",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Right Motor Effort",
        "label": "Right Motor Effort",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-1",
        "max": "1",
        "step": ".01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "83df58dd8f2eaec7"
            ]
        ]
    },
    {
        "id": "a0eef338df7adadd",
        "type": "comment",
        "z": "832e91f30fa14a49",
        "name": "Motor Effort Controls",
        "info": "",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "0d2c0954b0a1d0ad",
        "type": "function",
        "z": "832e91f30fa14a49",
        "name": "Create MQTT Control Payload",
        "func": "let newmsg = msg;\nnewmsg.payload = {\"leftMotorEffort\": msg.payload};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "656f6bc2a108a4b8",
                "0927827cc0fee453"
            ]
        ]
    },
    {
        "id": "656f6bc2a108a4b8",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "0927827cc0fee453",
        "type": "json",
        "z": "832e91f30fa14a49",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "4d79a17cd7a149b3",
                "2bfddb455f1664de"
            ]
        ]
    },
    {
        "id": "4d79a17cd7a149b3",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "2bfddb455f1664de",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDrive/leftMotorEffort",
        "topic": "CETAIoTRobot/in/diffDrive/leftMotorEffort",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "83df58dd8f2eaec7",
        "type": "function",
        "z": "832e91f30fa14a49",
        "name": "Create MQTT Control Payload",
        "func": "let newmsg = msg;\nnewmsg.payload = {\"rightMotorEffort\": msg.payload};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "c63afcfbf935729b"
            ]
        ]
    },
    {
        "id": "c63afcfbf935729b",
        "type": "json",
        "z": "832e91f30fa14a49",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "2a66d176daaa76ca"
            ]
        ]
    },
    {
        "id": "2a66d176daaa76ca",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDrive/rightMotorEffort",
        "topic": "CETAIoTRobot/in/diffDrive/rightMotorEffort",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "c4ff5f0c9ee7ba6b",
        "type": "ui-slider",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Straight Motor Effort",
        "label": "Straight Motor Effort",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-1",
        "max": "1",
        "step": ".01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "151816437320c316"
            ]
        ]
    },
    {
        "id": "151816437320c316",
        "type": "function",
        "z": "832e91f30fa14a49",
        "name": "Create MQTT Control Payload",
        "func": "let newmsg = msg;\nnewmsg.payload = {\"straightMotorEffort\": msg.payload};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "b08048dc101467f3"
            ]
        ]
    },
    {
        "id": "b08048dc101467f3",
        "type": "json",
        "z": "832e91f30fa14a49",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "d8dedad9b37b4ef9"
            ]
        ]
    },
    {
        "id": "d8dedad9b37b4ef9",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDrive/straightMotorEffort",
        "topic": "CETAIoTRobot/in/diffDrive/straightMotorEffort",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "290d432aaadbc6f3",
        "type": "comment",
        "z": "832e91f30fa14a49",
        "name": "Motor Effort Monitor",
        "info": "",
        "x": 150,
        "y": 980,
        "wires": []
    },
    {
        "id": "bffbf6ed577e5aed",
        "type": "mqtt in",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/out/diffDrive",
        "topic": "CETAIoTRobot/out/diffDrive",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "df527488550a103d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "cd1be78cbbbaa193",
                "0f73bee85d7fe7d0"
            ]
        ]
    },
    {
        "id": "cd1be78cbbbaa193",
        "type": "function",
        "z": "832e91f30fa14a49",
        "name": "Extract Object Values",
        "func": "let leftMotorEffortMsg = { payload: msg.payload.diffDriveData.leftMotorEffort };\nlet rightMotorEffortMsg = { payload: msg.payload.diffDriveData.rightMotorEffort };\nlet straightMotorEffortMsg = { payload: msg.payload.diffDriveData.straightMotorEffort };\nlet leftRightCompensationMsg = { payload: msg.payload.diffDriveData.leftRightCompensation };\nreturn [leftMotorEffortMsg, rightMotorEffortMsg, straightMotorEffortMsg, leftRightCompensationMsg];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "335af5bff9d98ebc"
            ],
            [
                "e288e780b15d5a21"
            ],
            [
                "fae63bc6244d7c1d"
            ],
            [
                "fb82f9b219390c9f"
            ]
        ]
    },
    {
        "id": "335af5bff9d98ebc",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Left Motor Effort",
        "label": "Left Motor Effort Setting",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 800,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e288e780b15d5a21",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Right Motor Effort",
        "label": "Right Motor Effort Setting",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 810,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fae63bc6244d7c1d",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Straight Motor Effort",
        "label": "Straight Motor Effort Setting",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fb82f9b219390c9f",
        "type": "ui-text",
        "z": "832e91f30fa14a49",
        "group": "1e358b17550c57de",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Calculated Left Right Compensation",
        "label": "Calculated Left Right Compensation Setting",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d79987bb0bf0b436",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDriveEvent",
        "topic": "CETAIoTRobot/in/diffDriveEvent",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "c60dbb0393884242",
        "type": "ui-button",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Motor Set Efforts",
        "label": "Motor Set Efforts",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"event\": 1}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "d79987bb0bf0b436"
            ]
        ]
    },
    {
        "id": "23b299f3f1407d43",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDriveEvent",
        "topic": "CETAIoTRobot/in/diffDriveEvent",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 550,
        "y": 720,
        "wires": []
    },
    {
        "id": "8307aa898c801637",
        "type": "ui-button",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Motor Stop",
        "label": "Motor Stop",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"event\": 2}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "23b299f3f1407d43"
            ]
        ]
    },
    {
        "id": "dd41d6789be78d90",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDriveEvent",
        "topic": "CETAIoTRobot/in/diffDriveEvent",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "52bd029eac111ad2",
        "type": "ui-button",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Motor Straight",
        "label": "Motor Straight",
        "order": 6,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"event\": 3}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "dd41d6789be78d90"
            ]
        ]
    },
    {
        "id": "0f73bee85d7fe7d0",
        "type": "debug",
        "z": "832e91f30fa14a49",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6ca20d4ae8e8db71",
        "type": "mqtt out",
        "z": "832e91f30fa14a49",
        "name": "CETAIoTRobot/in/diffDriveEvent",
        "topic": "CETAIoTRobot/in/diffDriveEvent",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df527488550a103d",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "175fadb5501391ab",
        "type": "ui-button",
        "z": "832e91f30fa14a49",
        "group": "b4ecbd73cbb61631",
        "name": "Save Compensation",
        "label": "Save Left Right Compensation",
        "order": 7,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"event\": 4}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "6ca20d4ae8e8db71"
            ]
        ]
    },
    {
        "id": "b4ecbd73cbb61631",
        "type": "ui-group",
        "name": "Control Group",
        "page": "9d840937293a30e2",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "df527488550a103d",
        "type": "mqtt-broker",
        "name": "Local Aedes MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1e358b17550c57de",
        "type": "ui-group",
        "name": "Monitor Group",
        "page": "9d840937293a30e2",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9d840937293a30e2",
        "type": "ui-page",
        "name": "Dashboard (diffdrive_set_straight.ino Sketch)",
        "ui": "12b7276f41270e20",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ad23a447f3c91f6c",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "12b7276f41270e20",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "ad23a447f3c91f6c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]